* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}
body {
  overflow-x: hidden;
}
.navbar {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  color: white;
  margin: 20px 50px;
  font-size: 1.5em;
  text-transform: uppercase;
}

.nav-link {
  display: flex;
}
.nav-link h2 {
  padding: 20px 20px;
  font-weight: lighter;
  font-size: 1.5em;
  color: white;
}
.menu {
  margin-right: 30px;
  margin-top: 7px;
  width: 50px;
  height: 50px;
  background-color: hsl(0, 10%, 83%);
  border-radius: 7px;
}

.menu .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-right: 0;
  top: 100%;
  left: 93%;
}

.menu:hover .tooltiptext {
  visibility: visible;
}
.menu img {
  width: 50px;
  height: 50px;
}

/* HOME section */
.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The side navigation menu */
.sidenav {
  height:90% ; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position:fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.945); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 70px; /* Place content 60px from the top */
  transition: width 0.4s, left 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav.active{
  width: 300px;
}

/* .closeBtn.active{
  width: 0;
} */

/* The navigation menu links */
.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 2em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* njbdj,s */

.clip-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
  padding: 100px 100px;
  text-transform: uppercase;
}
.clip {
  width: 100%;
  left: 0;
  position: absolute;
  z-index: -1;
}

/* taste section */
.taste {
  min-height: 100vh;
  align-items: center;
  background-color: #000000;
}
.box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.box h1 {
  color: white;
  line-height: 1em;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
  text-transform: capitalize;
}

.container.first {
  position: relative;
  max-width: 2000px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 50px 250px;
}
.text {
  width: 400px;
  text-align: center;
}
.text p {
  color: white;
  font-size: 1.5em;
  padding: 20px;
}
.container.first .imgBox {
  position: relative;
  overflow: hidden;
  width: 700px;
  height: 500px;
}
.container.first .imgBox img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PRODUCT  */
.product {
  min-height: 100vh;
  align-items: center;
  background-color: #1a0f0f;
  padding-bottom: 20px;
}
.box.new {
  position: relative;
  top: 30px;
  flex-direction: row;
  width: 50%;
}
.box.new h1 {
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-size: 1.8em;
  text-align: left;
}
.slideshow {
  position: relative;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  top: 30px;
  justify-content: center;
  padding: 20px;
}
.burgers {
  width: 200px;
  margin: 20px;
}
.burgers .imgBox {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgb(121, 115, 115);
  width: 200px;
  height: 200px;
  animation: brg 3s linear infinite;
}

.burgers .imgBox img {
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
}

@keyframes brg {
  0% {
    transform: translateY();
  }
  100% {
    transform: translateY(1em);
  }
}

.burgers .imgBox img:hover {
  filter: grayscale(0);
}
.burgers h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  color: white;
}

.big {
  top: 7px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order {
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 200px;
  padding: 10px;
  border: 3px solid white;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
}
.order:hover {
  background-color: white;
  color: rgb(19, 5, 5);
}

/* ABOUT SECTION  */
.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(31, 18, 18);
}
.about:nth-child(even).container {
  flex-direction: row-reverse;
}
.about h1 {
  margin-left: 30px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: capitalize;
  font-size: 4em;
  color: rgb(247, 247, 247);
}
.container {
  position: relative;
  width: 1000px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.container .imgBox {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 400px;
  box-shadow: 0px 0px 4px white;
}
.container .imgBox img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .content {
  position: absolute;
  right: 0;
  z-index: 1;
  margin-top: 200px;
  margin-bottom: 40px;
  background-color: rgb(87, 69, 69);
  max-width: 300px;
  padding: 40px;
  border-bottom: 16px solid rgb(128, 7, 31);
  box-shadow: 0px 20px 30px grey;
}
.container .content p {
  font-size: 1.1em;
  color: white;
}

section:nth-child(even) .container .content {
  left: 0;
}

/* SERVICE  */
.service {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
  padding: 100px 100px;
  text-transform: uppercase;
}
.myVideo {
  width: 100%;
  left: 0;
  position: absolute;
  z-index: -1;
}

/* testimonial */
.testimonial {
  position: relative;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
}

.people {
  position: relative;
  max-width: 1300px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 100px;
  justify-content: space-between;
}
.people .vince {
  width: 400px;
  margin: 5px 20px;
}
.people .imgBox {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 0px 8px rgb(39, 16, 16);
}
.people .imgBox img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.quote {
  border: 3px dotted grey;
  position: relative;
  width: 500px;
  padding: 10px;
}
.quote.me {
  margin-top: 10px;
}
.quote h1 {
  color: white;
  text-align: justify;
}

/* footer  */
.ending {
  position: relative;
  min-height: 50vh;
  background-color: rgb(15, 5, 5);
}
.end {
  position: relative;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 80px;
}
.firstrow {
  padding: 10px;
  width: 500px;
}
.firstrow h1 {
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
}
.firstrow p {
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}
.firstrow .icon {
  width: 300px;
  display: flex;
  flex-direction: row;
}
.firstrow .icon .logo {
  background-color: white;
  border-radius: 50%;
  margin-right: 13px;
  margin-left: 10px;
}
.firstrow .icon .logo img {
  width: 50px;
  height: 50px;
}
.firstrow.second {
  width: 300px;
}
.firstrow .phone {
  font-size: 2em;
  color: white;
  margin-right: 10px;
}

.firstrow.second ul {
  margin: 0;
  padding: 0;
}
.firstrow.second ul li {
  list-style-type: none;
}
.firstrow.second ul li a {
  color: white;
  font-size: 1.4em;
  padding: 10px;
  text-decoration: none;
}
.firstrow.second ul li a:hover {
  text-decoration: underline;
}
.cop {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}
.n {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 100vh;
  display: none;
  z-index: -1;
}

@media (max-width: 700px) {
  .n {
    display: block;
    background-color: red;
  }
  .n img {
    width: 600px;
    height: 100vh;
    object-fit: cover;
  }

  .menu .tooltiptext {
    left: 80%;
  }

  .clip {
    display: none;
  }
}
